<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincis.betradict">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.vincis.betradict.adminml"></activity>
        <activity android:name="com.vincis.betradict.transition_act.transfrag5" />
        <activity android:name="com.vincis.betradict.Main3Activity" />
        <activity android:name="com.vincis.betradict.trans_prevmatchList" />
        <activity android:name="com.vincis.betradict.trans_prevMatches" />
        <activity android:name="com.vincis.betradict.transition_act.trans_adminmsgs" />
        <activity android:name="com.vincis.betradict.transition_act.trans_adminMList" />
        <activity android:name="com.vincis.betradict.transition_act.transSupport" />
        <activity android:name="com.vincis.betradict.admin.addQuest" />
        <activity android:name="com.vincis.betradict.admin.addDynamic" />
        <activity android:name="com.vincis.betradict.transition_act.trans_leader" />
        <activity android:name="com.vincis.betradict.wallet_click" />
        <activity android:name="com.vincis.betradict.transition_act.transUpdateWall" />
        <activity android:name="com.vincis.betradict.wallet_trans" />
        <activity android:name="com.vincis.betradict.admin.addEvent" />
        <activity android:name="com.vincis.betradict.transition_act.trans_activity" />
        <activity android:name="com.vincis.betradict.sports_list" />
        <activity android:name="com.vincis.betradict.Main2Activity" />
        <activity android:name="com.vincis.betradict.login_act"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.vincis.betradict.MainActivity" />
        <activity android:name="com.vincis.betradict.Home_Page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.vincis.betradict.MyMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>